{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>My Resume</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card mt-5">
					<div class="card-header bg-primary text-white">
						<h1 class="text-center">{{tag.name}}</h1>
				
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<h3>Contact Information</h3>
								<ul>
									<li>Email: {{tag.email}}</li>
									<li>Phone:{{tag.contact_number}}</li>
									<li>Address: {{tag.address}}</li>
                                    <li>City:{{tag.city}}</li>
								</ul>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-4">
								<h3>Skills</h3>
								<ul>{%for p in tag.tech_skills%}
                                    <li>
                                    {{p}}
									</li>
								    {%endfor%}
							    </ul>
								
							</div>
							<div class="col-md-8">
								<h3>Experience</h3>
								<div class="card">
									<div class="card-body">
										<h4>{{tag.experience}}</h4>
					
                                    </div>
                                </div>
                            </div> 
                        </div>   			
                    </div>
                </div>
                        
            </div>
        </div>
    </div>        
</body>
</html>